body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Circular Std Book';
}
header{
    height: 96px;
}
.navBar{
    height: 0px;
    width: 100%;
}
.body1{
    width: 100%;
    background:#2962FF no-repeat;
}
.fa-compass, .fa-bars{
    font-size: 48px;
    margin: 24px;
    float: right;
    margin-right: 108px;
    cursor: pointer;
}